.row-1{
    width:100%;
    display:flex;
}
.column1{
    width:33.3% ;
}
.column2{
    width: 33.3%;
}
.column3{
    width:33.3%;
}
.column1 img{
    width: 100px;
    height: 100px;
}
.column2 img{
    width: 100px;
    height: 100px;
}
h1{
    color: red;
}
ol li{
    list-style-type: none;
    display: inline;
}